{%- paginate collections['all'].products by 10000 -%}
{%- capture uniq_select -%}
{%- for product in collections['all'].products -%}
{%- if product.metafields.custom.filter.value != blank -%}
{%- capture valuee -%}
{%- for value in product.metafields.custom.filter.value -%}
{{- value -}},
{%- endfor -%}
{%- endcapture -%}
{%- assign val = valuee | split: ',' -%}
{%- assign val_split = val -%}
{%- assign uniq_val = val_split | uniq | join: ',' -%}
{{ uniq_val }},
{%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- endpaginate -%}

<div class="c_homefilters-main color-accent-1 gradient" data-url="">
<div class="c_homefilters-container">
<div class="c_homefilters-heading">
<h2 class="rich-text__heading rte h1">{{ section.settings.c_heading }}</h2>
</div>

<div class="c_homefilters-master">
<h2>{{ uniq_select }}</h2>
<select>
          <option value="nofiltervaluee">Select Make</option>
  {% assign val = uniq_select | split: ',' %}
          {%- for value in val -%}
            {% assign split_val = value | split: '|' %}
            {% assign yearrange = split_val[2] | split: '~' %}
            <option class="" data-make="{{ split_val[0] | capitalize }}" data-model="{{ split_val[1] }}" data-year="{{ split_val[2] }}" year-min="{{ yearrange[0] }}" year-max="{% if yearrange[1] != blank %}{{ yearrange[1] }}{% else %}{{ yearrange[0] }}{% endif %}" value="{{ value }}">{{ value }}</option>
          {%- endfor -%}
        </select>
</div>

<div class="c_homefilters">

<div class="c_homefilters-a c_homefilters-make">
{%- capture select_one -%}
{%- assign val = uniq_select | split: ',' -%}
{%- for value in val -%}
  {%- assign val = value | split: '|' -%}
        {%- assign val_split = val -%}
        {%- assign uniq_val = val_split | uniq -%}
{{- uniq_val[0] | strip | capitalize -}},
{%- endfor -%}
{%- endcapture -%}
{%- assign val_one = select_one | split: ',' -%}
        {%- assign val_split_one = val_one -%}
        {%- assign uniq_val_one = val_split_one | uniq | join: ',' -%}
        {% assign sort_arry = uniq_val_one | split: "," %}
        {% assign sorted_arr = sort_arry | sort_natural | join: ", " %}
<select>
<option value="nofiltervaluee">Select Make</option>
{%- assign select_one = sorted_arr | split: ',' -%}
{%- for value in select_one -%}
<option value="{{ value }}">{{ value }}</option>
 {%- endfor -%} 
</select>
</div>

<div class="c_homefilters-a c_homefilters-model">
{%- capture select_two -%}
{%- assign val = uniq_select | split: ',' -%}
{%- for value in val -%}
  {%- assign val = value | split: '|' -%}
        {%- assign val_split = val -%}
        {%- assign uniq_val = val_split | uniq -%}
{{- uniq_val[1] -}},
{%- endfor -%}
{%- endcapture -%}
{%- assign val_two = select_two | split: ',' -%}
        {%- assign val_split_two = val_two -%}
        {%- assign uniq_val_two = val_split_two | uniq | join: ',' -%}
<select>
<option value="nofiltervaluee">Select Model</option>
</select>
</div>

<div class="c_homefilters-a c_homefilters-year">
{%- capture select_third -%}
{%- assign val = uniq_select | split: ',' -%}
{%- for value in val -%}
  {%- assign val = value | split: '|' -%}
        {%- assign val_split = val -%}
        {%- assign uniq_val = val_split | uniq -%}
{{- uniq_val[2] -}},
{%- endfor -%}
{%- endcapture -%}
{%- assign val_third = select_third | split: ',' -%}
        {%- assign val_split_third = val_third -%}
        {%- assign uniq_val_third = val_split_third | uniq | join: ',' -%}
<select>
<option value="nofiltervaluee">Select Year</option>
</select>
</div>

</div>
<div class="c_homefilters-btn">
<button type="button" class="button button--secondary" disabled>{{ section.settings.c_btn }}</button>
</div>
</div>
</div>

{% schema %}
  {
    "name": "Homage Page Filters",
    "settings": [
      {
        "type" : "text",
        "id" : "c_heading",
        "label" : "Heading",
        "default" : "Search by Make Model Year"
      },
       {
        "type" : "text",
        "id" : "c_btn",
        "label" : "Button",
        "default" : "Search"
      }
    ],
    "presets" : [
      {
        "name" : "C Homepage Filters",
        "category" : "custom"
      }
    ]
  }
{% endschema %}
